In [39]:
import pandas as pd

In [40]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [41]:
dates = pd.date_range ('20150101', periods = 60)

In [42]:
dates

<class 'pandas.tseries.index.DatetimeIndex'>
[2015-01-01, ..., 2015-03-01]
Length: 60, Freq: D, Timezone: None

In [43]:
df = pd.DataFrame(np.random.randn(60,4), index =dates, columns = list('abcd'))

In [44]:
df

                   a         b         c         d
2015-01-01 -0.281095  0.665149 -1.295902  0.963540
2015-01-02  1.428536 -1.308773  1.588679  0.649714
2015-01-03  0.077664  1.076150  0.381771 -0.022685
2015-01-04 -0.627838  1.135704  0.876651 -0.615393
2015-01-05 -0.386898  0.091182 -1.806446 -0.843335
2015-01-06 -0.082324  1.099377 -0.264850  1.871698
2015-01-07 -1.676200  0.009634  0.155931 -1.705741
2015-01-08  0.669017  0.826892  1.214986  2.729793
2015-01-09 -1.828261  0.204446  0.304460  1.225411
2015-01-10 -0.103767 -0.045551 -0.921638  1.604404
2015-01-11  0.273209 -0.462926 -0.592232 -0.384417
2015-01-12 -0.397305  0.399900  0.021416  0.863399
2015-01-13  0.820865 -1.270556  0.065918 -1.732040
2015-01-14  0.613992  0.001566  1.690365 -1.269227
2015-01-15  0.605970  0.308084  0.472701 -1.178471
2015-01-16  0.014623 -1.555786  0.235006  0.542670
2015-01-17 -0.939298  1.136346 -1.399335  1.144381
2015-01-18  0.139987  1.050712  0.989879  0.583135
2015-01-19 -0.702818 -0.437016  0.947096 -0.355356
2015-01-20  0.173754 -0.804755  1.877254  0.406025
2015-01-21  1.394040 -0.290267  0.367208  0.126772
2015-01-22  1.096524  0.675274  0.013789 -1.372739
2015-01-23 -0.763389  0.227315 -0.076815  0.155777
2015-01-24  0.783915  1.641525 -0.013680 -0.340911
2015-01-25 -0.005619 -1.753933  0.441561 -1.284769
2015-01-26  1.678235  0.360143 -0.297494 -2.578294
2015-01-27 -0.283012  1.166097  0.665187  0.387264
2015-01-28  0.117196 -1.093709  1.236456  0.107482
2015-01-29 -1.276628 -1.652883  0.223695  0.425376
2015-01-30  0.384243  1.251477 -2.183015 -1.500964
2015-01-31 -0.105495 -0.223253  1.581172  0.225946
2015-02-01  1.089004  1.155290  0.279207  0.289598
2015-02-02 -0.502338 -0.070048 -1.043913  0.293547
2015-02-03  0.612105  0.925760 -0.216612 -0.412302
2015-02-04  1.529865 -0.870228 -1.739384 -0.942498
2015-02-05 -0.744417 -0.485590 -1.058232 -0.448723
2015-02-06  0.652328  2.200547 -0.254044 -0.981633
2015-02-07 -1.367172  0.469126  0.196203  0.602082
2015-02-08 -0.242465 -0.155130 -0.360202 -0.297230
2015-02-09 -0.096300 -3.107326  0.749512  0.734232
2015-02-10  0.317014 -0.918758  1.784493  0.825700
2015-02-11 -0.911873 -1.725098 -1.942410 -0.492111
2015-02-12 -0.795593 -0.071939  0.569599  0.043560
2015-02-13  0.074120 -0.229359  0.870707  1.197480
2015-02-14  0.340293 -0.783559  0.933313 -0.529775
2015-02-15 -0.791440 -1.775258  0.010101 -0.303391
2015-02-16 -1.477422 -1.772983 -0.489759 -1.542396
2015-02-17 -0.493220  0.516200  0.623491  0.296567
2015-02-18 -0.662484 -1.070158  0.050950  0.004967
2015-02-19 -1.033471  0.558076 -0.582817  0.737326
2015-02-20 -0.386675 -1.732604  1.913636 -0.212093
2015-02-21 -0.258502 -0.055511 -0.468330  0.516378
2015-02-22  0.264497  0.167692 -1.340830 -2.127711
2015-02-23  1.368864  0.639424  1.027351  0.936438
2015-02-24  0.266747 -0.242864 -0.633702 -0.170986
2015-02-25  0.010490  1.814196  0.368447 -0.479469
2015-02-26  0.802227 -0.964699  1.714854  0.442917
2015-02-27 -0.333352 -0.727836 -0.784595 -0.242290
2015-02-28  1.085185 -0.502496 -1.125099  0.041213
2015-03-01 -2.498999  0.745865 -0.230457  0.499120

In [45]:
df.describe()

               a          b          c          d
count  60.000000  60.000000  60.000000  60.000000
mean   -0.056186  -0.094028   0.088688  -0.048217
std     0.872759   1.062895   1.001419   0.991169
min    -2.498999  -3.107326  -2.183015  -2.578294
25%    -0.636500  -0.821123  -0.513023  -0.501527
50%    -0.043972  -0.050531   0.110924   0.042386
75%     0.607504   0.667680   0.779811   0.552786
max     1.678235   2.200547   1.913636   2.729793

In [46]:
df.to_csv('df2.csv')

In [48]:
pd.read_csv('Contenu_A1_2015.csv').describe()

,n_ligne,act_fin,marge_gest,var_marge_gest,marge_cible,var_marge_cible,act_cum_n-1,act_cum_n,act_cum_n+1,act_exec_n,act_exec_n+1,act_audela,marge_gest_cum_n-1,marge_gest_cum_n,marge_gest_cum_n+1,marge_gest_exec_n,marge_gest_exec_n+1,marge_gest_audela
count,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000
mean,117.500000,5853.380206,142.665413,23.819822,196.782113,42.972945,4079.342672,5416.663061,5951.426517,1402.653285,466.204078,12.872527,-21.426554,34.380581,115.421120,55.807135,81.040539,27.244293
std,67.694165,11167.607508,767.637847,255.422294,676.334241,221.305771,9976.611547,10586.202045,11148.225849,3363.585275,2060.156825,117.935430,848.493655,878.431875,869.494416,269.739403,352.999902,313.400624
min,1.000000,0.000000,-5962.999730,-2604.821160,-3268.999730,-2202.973480,0.000000,0.000000,0.000000,-21.729660,-0.000460,-0.000010,-5850.454050,-5963.005970,-6093.211140,-1426.547380,-1525.865080,-0.270140
25%,59.250000,896.187437,-25.482308,-2.696810,-0.127205,-1.587010,347.152995,830.592803,993.682030,0.000000,0.000000,0.000000,-118.076375,-86.810000,-28.060445,-2.251290,0.000000,0.000000
50%,117.500000,3334.726900,29.008880,4.650950,40.547450,3.527875,1806.485250,2992.684105,3443.701765,161.063200,0.000000,0.000000,0.000000,15.000020,28.066405,0.269545,0.000000,0.000000
75%,175.750000,5956.813960,199.644755,55.118902,245.338957,50.096308,4378.416350,5941.527213,5961.200112,1599.828487,0.000000,0.000000,85.194508,175.017657,199.676707,54.432388,0.000000,0.000010
max,234.000000,99999.999990,4986.363680,1118.178550,4986.363680,1340.998550,99999.999990,99999.999990,99999.999990,30015.268710,22293.655050,1331.103390,4986.364650,4986.365030,4986.365030,1594.902970,3270.911340,4579.558440

In [36]:
df.describe()

               a          b          c          d
count  60.000000  60.000000  60.000000  60.000000
mean   -0.058228  -0.072674   0.057093   0.137794
std     0.879032   0.896334   1.002447   1.083667
min    -1.925823  -1.680979  -1.964184  -2.714807
25%    -0.640879  -0.689876  -0.628187  -0.376940
50%    -0.058449   0.018204   0.081362   0.233206
75%     0.599140   0.380024   0.718819   0.766726
max     1.860424   1.861039   3.029267   2.812541

In [32]:
pd.read_csv('essai.csv')

IOError: File essai.csv does not exist