In [2]:
import pandas as pd
import numpy as np
import Quandl

In [3]:
EN = Quandl.get("EURONEXT/EN", authtoken="jm1wfDsP3y2HLDY44aBr")

In [4]:
type (EN)

pandas.core.frame.DataFrame

In [5]:
EN.tail()

              Open    High     Low   Last   Volume      Turnover
Date
2016-04-15  30.610  31.085  30.550  31.05  1564372  48387417.485
2016-04-18  30.420  31.230  30.320  31.03  1076864  33359322.355
2016-04-19  31.035  31.250  30.400  30.98  1419988  43892384.340
2016-04-20  30.940  31.135  30.845  30.93   818834  25366353.140
2016-04-21  30.960  31.075  30.140  30.52  1093398  33347358.390

In [6]:
DG = Quandl.get("YAHOO/PA_DG", authtoken="jm1wfDsP3y2HLDY44aBr")

In [7]:
DG.tail()

             Open   High    Low  Close   Volume  Adjusted Close
Date
2016-04-15  65.80  66.24  65.77  65.95  1825700        64.64619
2016-04-18  65.35  66.18  65.32  66.05  1307900        64.74422
2016-04-19  66.14  66.50  65.74  66.18  1844200        64.87165
2016-04-20  66.08  66.33  65.15  65.56  1673800        64.26390
2016-04-21  65.72  66.00  63.82  64.24  2323400        62.97000

In [8]:
DG

             Open   High    Low  Close   Volume  Adjusted Close
Date
2000-01-03  46.50  47.20  45.60  46.71   231000         4.22569
2000-01-04  46.85  46.85  43.80  44.00   156200         3.98052
2000-01-05  43.50  46.00  43.00  45.00   525300         4.07099
2000-01-06  45.50  46.50  44.35  46.50   211600         4.20669
2000-01-07  46.50  48.25  46.50  48.00   367000         4.34239
2000-01-10  48.50  49.99  46.00  46.00   377900         4.16146
2000-01-11  47.51  48.76  47.12  48.00   446100         4.34239
2000-01-12  49.00  49.05  44.82  47.00  1102700         4.25192
2000-01-13  47.49  47.49  45.60  46.50   169500         4.20669
2000-01-14  47.00  47.49  46.00  46.00   173300         4.16146
2000-01-17  47.90  47.90  46.80  46.99   282400         4.25102
2000-01-18  47.00  47.58  46.20  46.49   442500         4.20579
2000-01-19  46.55  48.60  46.11  46.65   539300         4.22026
2000-01-20  47.26  47.48  46.00  46.00   419900         4.16146
2000-01-21  46.10  46.80  46.00  46.00   303000         4.16146
2000-01-24  46.75  46.85  45.00  45.00   461600         4.07099
2000-01-25  45.00  45.80  43.10  43.10   373100         3.89910
2000-01-26  45.00  45.22  44.20  45.20   625100         4.08908
2000-01-27  45.10  45.90  45.00  45.00   304800         4.07099
2000-01-28  45.50  45.70  44.81  45.00   119600         4.07099
2000-01-31  45.90  45.90  43.60  43.60   211800         3.94434
2000-02-01  43.80  44.91  43.20  44.91   224000         4.06285
2000-02-02  44.60  45.00  44.00  45.00   100000         4.07099
2000-02-03  45.00  45.00  43.50  44.30   205100         4.00766
2000-02-04  44.25  44.95  43.70  44.50   704900         4.02576
2000-02-07  44.90  46.90  44.30  46.90   334800         4.24288
2000-02-08  47.05  47.05  44.50  44.50   485800         4.02576
2000-02-09  45.20  45.88  45.00  45.00     6400         4.07099
2000-02-10  45.20  48.80  45.20  46.00  5410900         4.16146
2000-02-11  46.50  47.70  45.40  46.00  1070000         4.16146
...           ...    ...    ...    ...      ...             ...
2016-03-11  64.77  65.56  64.55  65.35  2021100        64.05805
2016-03-14  65.40  65.83  64.48  64.60  1240800        63.32288
2016-03-15  64.22  65.21  64.11  65.16  1361600        63.87182
2016-03-16  65.20  65.29  64.62  65.29  1382300        63.99924
2016-03-17  65.69  65.93  64.25  65.38  1778700        64.08746
2016-03-18  65.88  65.90  64.77  64.77  3488000        63.48952
2016-03-21  64.97  65.43  64.48  64.94  1325200        63.65616
2016-03-22  64.54  65.10  64.15  65.07  1091500        63.78359
2016-03-23  65.33  65.70  65.07  65.44  1334800        64.14628
2016-03-24  64.84  65.39  64.65  65.00  1054300        63.71498
2016-03-25  65.00  65.00  65.00  65.00        0        63.71498
2016-03-28  65.00  65.00  65.00  65.00        0        63.71498
2016-03-29  65.25  65.77  64.87  65.20  1145900        63.91102
2016-03-30  65.72  66.69  65.62  66.29  1605000        64.97947
2016-03-31  65.78  65.78  65.16  65.47  1583700        64.17568
2016-04-01  64.75  65.32  63.85  65.28  2398000        63.98944
2016-04-04  65.00  65.87  64.36  65.45  1352600        64.15608
2016-04-05  64.62  64.91  64.30  64.74  1638100        63.46011
2016-04-06  64.78  65.21  64.43  65.10  1388900        63.81300
2016-04-07  65.07  65.64  64.44  64.85  1368500        63.56794
2016-04-08  64.95  65.09  64.37  65.02  1436800        63.73458
2016-04-11  64.96  65.08  64.15  64.58  1649400        63.30328
2016-04-12  64.50  64.86  64.00  64.75  1611100        63.46992
2016-04-13  65.41  65.65  64.43  64.90  2099700        63.61695
2016-04-14  65.01  65.84  64.68  65.84  1942200        64.53837
2016-04-15  65.80  66.24  65.77  65.95  1825700        64.64619
2016-04-18  65.35  66.18  65.32  66.05  1307900        64.74422
2016-04-19  66.14  66.50  65.74  66.18  1844200        64.87165
2016-04-20  66.08  66.33  65.15  65.56  1673800        64.26390
2016-04-21  65.72  66.00  63.82  64.24  2323400        62.97000

[4243 rows x 6 columns]