In [4]:
import ffn
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [5]:
liste = 'EN.PA , DG.PA,RMS.PA,ORP.PA,FP.PA,OR.PA'

In [10]:
print (type(liste))

<class 'str'>

In [6]:
prices = ffn.get(liste, start='2010-01-01' , end='2016-04-11')

In [7]:
prices.tail(10)

              enpa      dgpa   rmspa  orppa      fppa     orpa
Date
2016-03-29  35.039  63.93697  313.95  72.12  39.48144  154.694
2016-03-30  35.280  65.00586  316.25  72.17  40.40328  157.736
2016-03-31  33.995  64.20174  309.45  73.18  39.49623  154.546
2016-04-01  33.322  64.01542  306.65  73.14  38.23917  151.847
2016-04-04  28.842  64.18213  307.00  73.55  38.62368  152.731
2016-04-05  27.708  63.48588  301.25  73.30  37.80537  151.356
2016-04-06  28.026  63.83891  300.10  74.54  38.33284  153.270
2016-04-07  27.770  63.59375  298.55  75.10  38.03706  152.289
2016-04-08  28.306  63.76046  297.95  75.40  39.44693  151.847
2016-04-11  28.036  63.32899  294.70  74.80  39.62440  151.111

In [25]:
stats = prices.calc_stats()
stats.display()

Stat                 enpa        dgpa        rmspa       orppa       fppa        orpa
-------------------  ----------  ----------  ----------  ----------  ----------  ----------
Start                2010-01-04  2010-01-04  2010-01-04  2010-01-04  2010-01-04  2010-01-04
End                  2016-04-11  2016-04-11  2016-04-11  2016-04-11  2016-04-11  2016-04-11
Risk-free rate       0.00%       0.00%       0.00%       0.00%       0.00%       0.00%

Total Return         16.97%      108.02%     234.62%     171.41%     25.89%      116.31%
Daily Sharpe         0.23        0.57        0.85        0.86        0.27        0.67
CAGR                 2.53%       12.40%      21.26%      17.27%      3.74%       13.10%
Max Drawdown         -48.43%     -34.95%     -31.38%     -30.11%     -29.57%     -21.06%

MTD                  -17.53%     -1.36%      -4.77%      2.21%       0.32%       -2.22%
3m                   -16.66%     11.17%      -1.30%      4.64%       9.16%       3.67%
6m                   -12.79%     14.47%      -13.22%     10.31%      -8.57%      -6.13%
YTD                  -19.10%     9.20%       -5.02%      1.38%       -1.20%      -0.87%
1Y                   -18.37%     21.03%      -13.92%     26.05%      -12.25%     -12.61%
3Y (ann.)            19.39%      25.86%      4.66%       33.96%      8.17%       9.28%
5Y (ann.)            4.02%       12.83%      15.30%      20.43%      4.79%       15.18%
10Y (ann.)           2.53%       12.40%      21.26%      17.27%      3.74%       13.10%
Since Incep. (ann.)  2.53%       12.40%      21.26%      17.27%      3.74%       13.10%

Daily Sharpe         0.23        0.57        0.85        0.86        0.27        0.67
Daily Mean (ann.)    7.10%       14.66%      22.10%      17.58%      6.30%       14.20%
Daily Vol (ann.)     30.67%      25.74%      26.06%      20.55%      23.38%      21.21%
Daily Skew           0.61        -0.03       0.34        0.18        -0.10       0.08
Daily Kurt           8.38        1.56        8.74        2.55        1.94        1.01
Best Day             15.77%      6.99%       15.12%      7.18%       7.57%       5.56%
Worst Day            -13.44%     -6.35%      -11.76%     -6.02%      -7.90%      -5.21%

Monthly Sharpe       0.25        0.68        0.83        1.06        0.37        0.94
Monthly Mean (ann.)  5.64%       14.46%      21.83%      17.71%      6.62%       14.22%
Monthly Vol (ann.)   22.93%      21.30%      26.42%      16.71%      17.79%      15.12%
Monthly Skew         0.17        0.13        0.19        0.12        -0.05       0.07
Monthly Kurt         0.20        -0.52       -0.31       0.44        -0.26       0.93
Best Month           17.99%      13.87%      20.84%      11.20%      13.78%      14.18%
Worst Month          -17.53%     -10.87%     -15.09%     -13.53%     -10.91%     -10.36%

Yearly Sharpe        0.28        0.66        0.69        0.77        0.70        0.99
Yearly Mean          6.50%       13.40%      13.28%      18.67%      5.63%       13.26%
Yearly Vol           23.36%      20.18%      19.14%      24.33%      8.05%       13.39%
Yearly Skew          -0.23       0.13        1.45        -1.00       1.88        0.38
Yearly Kurt          -2.42       -1.28       2.46        0.13        3.97        -1.06
Best Year            31.86%      39.18%      48.35%      44.08%      21.17%      32.83%
Worst Year           -20.88%     -13.30%     -5.02%      -21.50%     -1.20%      -0.87%

Avg. Drawdown        -6.30%      -3.64%      -4.68%      -3.55%      -4.51%      -4.03%
Avg. Drawdown Days   89.36       29.19       45.36       38.20       59.11       36.05
Avg. Up Month        5.91%       5.38%       6.84%       4.57%       4.37%       3.58%
Avg. Down Month      -4.55%      -4.41%      -5.72%      -2.68%      -4.05%      -2.83%
Win Year %           50.00%      66.67%      66.67%      83.33%      83.33%      66.67%
Win 12m %            61.54%      73.85%      75.38%      83.08%      70.77%      80.00%

In [7]:
print data.head()

SyntaxError: invalid syntax (<ipython-input-7-b44bd6df1103>, line 1)

In [21]:
data = ffn.get('agg,hyg,spy,eem,efa', start='2010-01-01', end='2014-01-01')
print data.head()

SyntaxError: invalid syntax (<ipython-input-21-d91b875bcfe9>, line 2)

In [12]:
print ffn.get('aapl:Open,aapl:High,aapl:Low,aapl:Close', start='2010-01-01', end='2014-01-01').head()

SyntaxError: invalid syntax (<ipython-input-12-c7f81c00743a>, line 1)